<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="/img/Ega.jpg"
        alt="Pandega Haqqi Sadieda"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <div class="display-4">Pandega Haqqi Sadieda</div>
      <div class="lead">CEO | Founder</div>
    </div>
  </div>
</div>
